@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

a {
    text-decoration: none;
    outline: 0;
    color: white;
}

body {
    font-family: 'Besley', serif;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    background: #000;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    top: 0;
    left: 0;
    margin: 0;
}

div#navbarNavDropdown.collapse.navbar-collapse {
    justify-content: flex-end;
}


#main-quote {
    position: absolute;
}
.video-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    width:100%;
    height:100%;
    object-fit: cover;
}

nav {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 5;
    background: #000000a3;
    opacity: 0;
    visibility: hidden;
    transition: all .75s cubic-bezier(0.87, 0, 0.13, 1);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(nav-pic.jpg);
    background-size: cover;
    background-position: center;
    transition: all .75s cubic-bezier(0.87, 0, 0.13, 1);
}

nav ul {
    list-style: none;
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
    transition: all .75s cubic-bezier(0.87, 0, 0.13, 1);
}

nav ul li {
    display: inline;
    background-color: #72665499;
    margin: 10px;
}

nav ul li:hover {
    background-color: #726654d1;
    transition: all .25s cubic-bezier(0.87, 0, 0.13, 1);
}

@media only screen and (max-width: 840px) {
    nav ul li {
        display: block;
        padding-bottom: 10px;
    }
}
.nav-icon {
    position: relative;
    cursor: pointer;
    z-index: 17;
}

.nav-icon > i {
    font-size: 35px;
    position: relative;
    z-index: 100;
}

.top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 6;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}
.nav-fade {
    position: fixed;
    width: 100%;
    left: 0;
    height: 150px;
    pointer-events: none;
    top: 0;
    background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
    z-index: 16;
    opacity: .3;
}

.top-part > div {
    padding: 15px;
}

.current a{
    color: #250f03
}
.logo > h3 {
    margin: 0;
    font-size: 1.75em;
    font-weight: 400;
    position: relative;
    z-index: 17;
}

.about {
    margin-top: 100vh;
}

.bottom-fade {
    width: 100%;
    bottom: 0;
    height: 50vh;
    z-index: 2;
    float: left;
    position: absolute;
    background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
}

#about-text {
    padding: 10%;
    font-size: 18px;
}

.active {
    opacity: 1;
    visibility: visible;
}

nav .nav-icon {
    position: absolute;
    left: 2%;
    top: 2%;
    z-index: 16;
}

.title {
    margin: 80px;
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
}

.aerial-container {
    padding: 5%;
}

section.places {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.place {
    width: 40%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.place:hover {
    transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
}

div.place:hover a h2 {
    font-size: 25px;
}


.place .bottom-fade {
    height: 20vh;
}
div.place a h2 {
    z-index: 3;
    transition: all .5s ease-in-out;
}

@media screen and (max-width: 800px) {
    div.place {
        width: 90%;
        height: 40vh;
    }
}

section.photo-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.photo {
    width: 400px;
    height: 264px;
    background-size: cover;
    background-position: center;
    margin: 1%;
    position: relative;
}

div.photo img {
    object-fit: cover;
    width: 100%;
    cursor: pointer;
}
@media screen and (max-width: 450px) {
    div.photo {
        width: 300px;
        height: 200px;
        margin-bottom: 5%;
    }
}

.not-active {
    visibility: hidden;
}

.rotate_animation {
    animation-name: rotate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes rotate {
    100% {transform: rotate(180deg);}
  }

.fade-in {
    opacity: 0;
    transition: all 2s cubic-bezier(0.87, 0, 0.13, 1);
}

.fade-in.appear {
    opacity: 1;
}

.social-media {
    display: flex;
    flex-direction: row;
    z-index: 5;
    justify-content: center;
}
.social-ico {
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}

.social-ico svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    opacity: 1;
    fill: white;
}

.social-ico svg:hover {
    fill: #ffffff73;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.credits {
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.7);
}

footer div.text {
    text-align: center;
    position: relative;
}

a.mail {
    font-size: 1.5rem;
}

a.mail:hover {
    text-decoration: underline;
} 

footer {
    background: url(nav-pic.jpg);
    width: 100vw;
    background-size: cover;
    background-position: bottom;
    margin-top: 10%;
    position: relative;

}

footer div.top-fade, footer div.left-fade {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 100vw;
}

.top-fade {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
.left-fade {
    background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

div#fullscreen {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    background-color: black;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s ease-in-out;
}

div#fullscreen img {
    --img_width: .9 * 100vw;
    width: 90%;
    height: calc(var(--img_width) * .66);
    object-fit: cover;
    cursor: pointer;
}

div#fullscreen.active {
    opacity: 1;
    visibility: visible;
}

img#mobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}